<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOT BALL GAME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}/">
    <style>
    </style>
</head>

<body>
    <div class="mi">
        <div id="nameShow">
            <h1>WELCOME</h1>
            <h1>TO</h1>
            <h1 id="ani">UNPLUG THE PLAYERS</h1>
        </div>
        <div>
        <h2 id="rule"></h2>
        </div>
        <div>
            <ol type="A">
                <li> You will be shown images and names of 6 random players who are in <b style="color:goldenrod">FIFA 2020.</b></li>
                <li> Next you will be given 5 hints, one by one</li>
                <li>You can guess the player at any point of time by clicking on the image of that player.</li>
                <li>If you guess it wrong then you will be thrown back to the welcome page.</li>
                <li>If you guess it right, you will be given subsequent points.</li>
                <br><br>
                <div>
                    <ul>
                         <li>60 points- Answering on first hint</li>
                        <li>50 points- Answering on second hint</li>
                        <li>40 points- Answering on third hint</li>
                        <li>20 points- Answering on fourth hint</li>
                        <li>0 points - For not answering( LOL &#128514 what else do you expect)</li>
                    </ul>
                </div>
            </ol>
        </div>
        <br><br><br><br>
        <div style="text-align: center">
            <a href="game.html" style="text-align: center"><button type="button" id="gotogame">START THE GAME</button></a>
        </div>

        <br><br><br><br>

<footer>
    <p>made in &#10084;&#65039; with <b style="color: orange">IN</b><b style="color: white">D</b><b style="color: green">IA</b></p>
    <p>copyright &copy; 2020 &nbsp; </p>
    <p>Developed by <b style="color: aqua">Sarv and Team</b>
        <br><br><br>
  <a id="ah" href="mailto:shsarv@gmail.com">Contact US</a></p>
</footer>
        </div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
